.variablebuttons {
    padding: 10px;
}

.header {
    background-color: #c5d5cb;
    padding: 40px;
    color: #c5d5cb;
}

h1 {
    font-size: 4em;
}

.generate {
    background-color: white;
    border: 2px #367B9C solid;
    border-radius: 10px;
    padding: 10px;
}

.placeholder {
    background-color: white;
    border: .5px black solid;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    color: #c5d5cb;
    border-top: 2px #367B9C solid;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: #AA7539;
}

.about {
    padding: 40px;
}

.deleteall {
    background-color: white;
    color: #AA7539;
    border: 2px #AA7539 solid;
}

.variable1 {
    color: green;
}

.variable2 {
    color: red;
    display: none;
}

.variable3 {
    color: blue;
    display: none;
}

.variable4 {
    color: orange;
    display: none;
}

.variable5 {
    color: pink;
    display: none;
}

.variable6 {
    color: brown;
    display: none;
}

.variable7 {
    color: #AA7539;
    display: none;
}

.variable8 {
    color: teal;
    display: none;
}

.variable9 {
    color: purple;
    display: none;
}

.glyphicon {
    font-size: 4em;
    display: none;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Shrikhand', cursive;
    color: #367B9C;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
}


button {
    transition: all .5s ease;
}

button:hover {
    background-color: transparent;;
    border: 2px #367B9C solid;
    font-size: 1.2em;
}

input {
    transition: all .5s ease;
}

.copy {
        background-color: transparent;;
        border: 2px #367B9C solid;
        border-radius: 10px;
        padding: 10px;
}

input:hover {
    background-color: transparent;
    border: 2px #367B9C solid;
    font-size: 1.25em;
}
